@page
@model IndexModel
@{
    ViewData["Title"] = "TURBOKART";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Turbokart!</h1>
    <p>En hæsblæsende oplevelse! Se vores priser under Produkter, og book en tid nu!</p>
</div>
